# --- CARPETAS DE BUILD  ---
build/
out/
bin/
obj/
x64/
x86/
.vs/
Debug/
Release/

# --- CMAKE ---
CMakeCache.txt
CMakeFiles/
*.cmake

!CMakeLists.txt
!vcpkg.cmake

# --- VCPKG  ---
vcpkg_installed/
vcpkg_downloads/
vcpkg/

# --- VISUAL STUDIO ---
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.db
*.ipch

# --- PERSONAL ---
CMakeUserPresets.json

# --- ARCHIVOS ---
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.log